html, body {
  margin:0;
}

header {
  width: 100%;
  background: #292630;
  position: fixed;
  z-index: 1;
}

.head-wrap {
  width: 960px;
  color: white;
  padding: 20px;
  margin: 0 auto;
/*   background:pink; */
}

.logo {
  padding-left:100px;
}

.nav a {
  color: white;
  font-size: 8px;
}

.nav {
  position: fixed;
  right:100px;
  top:0;
}

.banner {
  padding-top: 80px;
  width: 100%;
  background: #579b41;
  min-height: 200px;
}

.banner a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  left: 850px;
  top: 150px;
  border: 1px solid darkgreen;
  padding: 4px 8px;
  background: #afe29e;
  color: darkgreen;
}

.banner .active {
  background: white;
  padding-top:14px; 
}

.main-tab {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.tab-wrap {
  width: 960px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.tab {
  padding: 8px 15px;
  border: 1px solid lightgray;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  border-collapse: collapse;
  background: #e3e5e3;
}

#active-tab {
  background: white;
} 

.tab a {
  text-decoration: none;
  color: black;
}

.main-content {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.content {
  border: 1px solid lightgray;
  padding: 80px 110px;
  margin: 3px 3px 0px 0px;
}

.content3{
  padding: 80px 87px;
}

.content8,
.content9,
.content10 {
   padding: 80px 119px;
} 

.content4,
.content5,
.content6,
.content7 {
  padding: 80px;
}

footer {
  width: 100%;
  height: 70px;
  background: #abadab;
  margin-top: 20px;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 14px;
}
