body{
  margin:0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
	
}

.sidebar {
  grid-column: 1;
  display: flex;
  justify-content: center;
  background: steelblue;
  color:white;
  padding-top: 50px;
}

h2 {
  font-size:26px;
}

li {
  list-style: none;
  display:inline-block;
  margin:0 15px 0 0;
}

.detail {
  display:block;
  margin-top: -18px;
}
